section.about
  h2.about__title Коротко о нас:

  ul.about__facts-list
    li.about__facts-item
      p.about__facts-content Экологически чистые материалы
    li.about__facts-item
      p.about__facts-content Скандинавский стиль по российской цене
    li.about__facts-item
      p.about__facts-content Увеличивает лайки на фотографиях
    li.about__facts-item
      p.about__facts-content Связано вручную с любовью и умилением
    li.about__facts-item
      p.about__facts-content Поддержка отечественного производителя
    li.about__facts-item
      p.about__facts-content Поставляется в подарочной упаковке
