section.contacts
  h2.contacts__title Контакты
  address.contacts__content
    dl.contacts__requisites
      dt.contacts__section e-mail:
      dd.contacts__value: a(href="mailto:info@mimishkashop.ru") info@mimishkashop.ru
      dt.contacts__section Адрес:
      dd.contacts__value г. Санкт-Петербург ул. Большая Конюшенная д. 19/8, офис 101
  .contacts__map
    img(src="", alt="Карта").contacts__map-image
    .contacts__map-marker

  a(href="#").contacts__contact-us-button.button Напишите нам
