footer
  a(href="index.html").main-footer__logo: img(src="", alt="Логотип Мишки")

  ul.main-footer__socials-list
    li.main-footer__socials-item
      a(href="", target="_blank").main-footer__socials-item.main-footer__socials-item--vk: span.visually-hidden ВКонтакте
    li.main-footer__socials-item
      a(href="", target="_blank").main-footer__socials-item.main-footer__socials-item--youtube: span.visually-hidden YouTube
    li.main-footer__socials-item
      a(href="", target="_blank").main-footer__socials-item.main-footer__socials-item--telegram: span.visually-hidden Telegram

  a(href="").main-footer__developer Разработано
    img(src="", alt="Логотип HTML Academy").main-footer__developer-logo
