.hero
  h1.hero__page-title.page-title Милые штуки ручной работы для дома
  ul.hero__product-categories.product-categories
    li.product-categories__item.product-categories__item--interior
      a(href="#").product-categories__link Предметы интерьера
    li.product-categories__item.product-categories__item--toys
      a(href="#").product-categories__link Детские игрушки
