section.order-form
  h2.visually-hidden Форма заказа
  p.order-form__description Мы будем рады воплотить в жизнь ваши пожелания! Заполните простую форму заказа и мы свяжемся с вами, чтобы уточнить детали.
  form.order-form__form(action="#", method="post")
    p.order-form__notification *Поля обязательны для заполнения
    button.order-form__submit-button.button(type="submit") Отправить заказ
