section.production
  h2.production__title Процесс производства
  .production__video.video
    img.video__preview(src="", alt="Превью видео")
    button.video__play-button(type="button"): span.visually-hidden Проиграть
  p.production__description По просьбам наших любимых фолловеров мы сняли для вас подробное видео о том, как появляются наши товары.
  a.production__order-button.button(href="#") Сделать заказ
