section.top-product
  h2.top-product__heading Товар недели
  p.top-product__name Вязаные корзинки
  p.top-product__description Экологически чистая пряжа, ручная работа. Доступны в шести расцветках и трёх размерах.

  dl.top-product__characteristics
    dt.top-product__characteristics-key Цвет:
    dd.top-product__characteristics-value тиффани/серый
    dt.top-product__characteristics-key Диаметр:
    dd.top-product__characteristics-value 25 см
    dt.top-product__characteristics-key Высота:
    dd.top-product__characteristics-value 15 см

  img(src="", alt="Вязаные корзинки")
  p.top-product__price Цена: 990 руб.
  button(type="button").button Заказать
