extends ../layout.pug
include ../products.pug
include ../hero.pug

block append variables
  - pageTitle = 'Каталог товаров | MISHKA';

block main
  +products(locals['products'])
  include ../production.pug

block modals
  include ../modal.pug

block hero
  +hero('Каталог товаров')
