extends ../layout.pug

block modals
  include ../modal.pug

block hero
  include ../hero.pug

block main
  include ../top-product.pug
  include ../about.pug
  include ../reviews.pug
  include ../contacts.pug
